  body { 
  	margin:0;
  	padding:0; 
 	}
  #map { 
  	position:absolute;
  	top:0; 
  	bottom:0; 
  	width:100%; 
  	height: 700px;
  }
  #logo {
    max-width: 200px;
    padding: 15px 0 15px 15px;
    position: center;
  }
  form {
   padding-left:2em;   
  }
.leaflet-popup-content {
 text-align:center;   
}
  #travelOptions ul{
    list-style-type: none;
  }
  #topHalf {
    width: 100vw;
    height: 100vh;
    background-image: url("https://raw.githubusercontent.com/maptimeLA/projectLA/master/images/backgroundimages/LA1955_2000.jpg");
    background-color: #E27E2D;
    background-position: center;
    background-repeat: none;
    /* fix background image so that it is fixed & centered & sized properly*/
  }
  #top h1, h2, p{
    color: #25ABD2;
    text-align: center;
    /*link color to white*/
  }
  #top {
    /*center the text in the middle of the screen*/
  }
  #top img{
    max-width: 350px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
  }
  #bottomHalf {
    width: 100vw;
    height: 100vh;
  }
