  body {
  	margin:0;
  	padding:0;
 	}
  @font-face {
    font-family: "yes please";
    src: url(https://github.com/maptimeLA/projectLA/blob/master/fonts/yesplease.TTF) format ("truetype");
  }
  #map {
  	position:absolute;
  	top:0;
  	bottom:0;
    margin-left: auto;
  	width: 75vw;
  	height: 75vh;
  }
  #logo {
    max-width: 200px;
    padding: 15px 0 15px 15px;
    position: center;
  }
  form {
   padding-left:2em;
  }
.leaflet-popup-content {
 text-align:center;
}
  #travelOptions ul{
    list-style-type: none;
  }
  #topHalf {
    width: 100vw;
    height: 100vh;
    background-image: url("https://raw.githubusercontent.com/maptimeLA/projectLA/master/images/backgroundimages/latraffic.jpg");
    background-color: #E27E2D;
    background-position: center;
    background-repeat: none;
    text-align: center;
  }
  #top h2{
    font-family:"yes please", Arial;
  }
  #top h1, h2, p{
    font-size: 25px;
    text-align: center;
    color: white;
  }
  #top h4{
    font-size: 16px;
    color: white;
    text-align: center;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
  }
  #top p{
    text-align: center;
  }
  #button{
    text-align: center;
    background-color: #25ABD2;
    color: white;
    padding: 8px 15px 8px 15px;
  }
  #button a{
    font-size: 20px;
    text-decoration: none;
  }
  #top a:link, a:hover, a:visited, a:active{
    color: #fff;
  }
  #top img{
    max-width: 35vh;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  #bottomHalf {
    width: 100vw;
    height: 100vh;
  }
/*if width < 992px make map 100 vw*/
/*reduce spacing between header & map on bottom half*/
/*spruce up bottom half*/
