  body { 
  	margin:0;
  	padding:0; 
 	}
  h1 {
    font-family: Helvetica;
  }
  #map { 
  	position:absolute;
  	top:0; 
  	bottom:0; 
  	width:100%; 
  	height: 700px;
  }
  #logo {
    max-width: 200px;
    padding: 15px 0 15px 15px;
    position: center;
  }
  form {
   padding-left:2em;   
  }
.leaflet-popup-content {
 text-align:center;   
}
  #travelOptions ul{
    list-style-type: none;
  }
  #topHalf {
    width: 100vw;
    height: 100vh;
    background-image: url("https://raw.githubusercontent.com/maptimeLA/projectLA/master/images/backgroundimages/101freewaymural.jpg");
    background-color: ##25ABD2;
    background-position: fixed;
    background-repeat: none;

  }
  #bottomHalf {
    width: 100vw;
    height: 100vh;
  }
